.fa-eye,
.fa-eye-slash {
    position: absolute;
    bottom: 42%;
    right: 6%;
    transform: translateY(-50%);
}

@media only screen and (min-width: 769px) {
    .fa-eye,
    .fa-eye-slash {
        bottom: 38%;
    }
}

@media only screen and (max-width: 1023px) {
    p {
        float: left !important;
    }
}