@import url("./main-colors.css");


#togglePassword1,
#togglePassword2 {
    position: absolute;
    right: 6%;
    transform: translateY(-50%);
}

#togglePassword1 {
    bottom: 42%;
}
#togglePassword2 {
    bottom: 25%;
}

@media only screen and (max-width: 600px) {
    #togglePassword1,
    #togglePassword2 {
        right: 8%;
    }
}