/*

* {
  box-sizing: border-box;
  overflow-x:hidden;
}


.column {
  float: left;
  width: 50%;
  padding: 5px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}

.t3{
  margin:10px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

h3{
  text-align:center;
}

.b1{
  display:flex;
  justify-content:space-evenly;
}

@media (min-width: 768px) {
  .column {
    width: 48%;
    float: left;
  }
} 
*/
.column {
  width: 100%;
  padding: 5px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}

.t3 {
  margin: 10px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th,
td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

h3 {
  text-align: center;
}

.b1 {
  display: flex;
  justify-content: space-evenly;
}


* {
  box-sizing: border-box;
  overflow-x: hidden;
padding-left: 10px;
}

/* Main Content Styles */
.main-content {
  margin-left: 250px;
}

@media (max-width: 992px) {
  .main-content {
      margin-left: 0;
  }
}

/* Table Styles */
table {
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

/* Media Queries for Responsive Layout */
@media (max-width: 576px) {
  .tb1 tr {
      display: block;
      margin-bottom: 10px;
  }

  .tb1 td,
  .tb1 th {
      display: block;
      text-align: left;
  }

  .tb1 th,
  .tb1 td {
      width: 100%;
  }
}